@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  padding: 0;
  margin: 0;
  background-image: url("./../images/Approxinoscopefont.svg");
  background-size: 100%;
  background-repeat: repeat-y;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:active {
  color: white;
}

a:visited {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.desktopHeader {
  border-bottom: 0.2rem solid white;
  box-shadow: 0 0 0.2rem white, 0 0 0.2rem #9747FF, 0 0 1rem white, 0 0 1rem #9747FF, 0 0 2rem white, 0 0 2rem #9747FF, 0 0 0.8rem #9747FF, 0 0 2.8rem #9747FF, 0 0 4rem #9747FF, 0 0 5rem #9747FF, 0 0 6rem #9747FF, inset 0 0 8rem #9747FF;
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100%;
  background-color: #9747FF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.desktopHeader .headerLogo {
  width: 33.3333333333%;
  padding-left: 50px;
}
.desktopHeader .headerTitle {
  width: 33.3333333333%;
  display: flex;
  justify-content: center;
  font-size: 42px;
  font-family: "Fascinate Inline", system-ui;
  color: white;
}
.desktopHeader ul {
  width: 33.3333333333%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  font-family: "Fascinate Inline", system-ui;
  font-size: 30px;
  color: white;
}
.desktopHeader ul li {
  padding: 0 50px 0 0;
}

.buttonHover:hover {
  transform: scale(1.1);
  display: flex;
}

.mobileHeaderUp {
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100%;
  background-color: #9747FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileHeaderUp .headerTitle {
  font-size: 28px;
  font-family: "Fascinate Inline", system-ui;
  color: white;
}
.mobileHeaderUp .burgerHeader {
  margin-right: 20px;
}
.mobileHeaderUp a:active {
  transform: scale(1.1);
}
.mobileHeaderUp .burgerHeader:active {
  transform: scale(1.1);
}

.mobileHeaderDown {
  font-size: 20px;
  font-family: "Fascinate Inline", system-ui;
  color: white;
  background-color: #9747FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.mobileHeaderDown div {
  height: 2px;
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
}
.mobileHeaderDown ul li {
  padding: 10px 0;
}

footer article {
  height: 300px;
  background-color: #9747FF;
  display: flex;
  align-items: center;
}
footer article div {
  width: 2px;
  height: 80%;
  background-color: white;
  margin: 0 20px;
}
footer article section {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer article section ul li:hover {
  transform: scale(1.1);
}
footer article .sectionFooter1 ul {
  margin-top: 20px;
  display: flex;
}
footer article .sectionFooter1 ul li {
  padding: 0 25px;
  transform: scale(1.4);
}
footer article .sectionFooter1 ul li:hover {
  transform: scale(1.6);
}
footer article .sectionFooter2 h2 {
  font-size: 40px;
  font-family: "Fascinate Inline", system-ui;
  color: white;
}
footer article .sectionFooter2 p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
}
footer article .sectionFooter3 ul li {
  font-size: 24px;
  font-family: "Fascinate Inline", system-ui;
  color: white;
  padding: 5px 0;
  text-align: center;
}
footer article .sectionFooter3 div {
  height: 2px;
  width: 50%;
  background-color: white;
  margin: 30px 0;
}
footer article .sectionFooter3 .ul2 li {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.copyright {
  margin: 0;
  height: 50px;
  background-color: black;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: rgb(207, 207, 207);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .desktopHeader {
    display: none;
  }
  footer article {
    padding: 20px 0;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer article div {
    width: 80%;
    height: 2px;
    background-color: white;
    margin: 20px 0;
  }
  footer article section {
    width: 100%;
  }
  footer article section ul li:hover {
    transform: scale(1.4);
  }
  footer article section ul li:active {
    transform: scale(1.6);
  }
}
@media screen and (max-width: 1050px) {
  .desktopHeader ul {
    font-size: 24px;
  }
  .desktopHeader .headerTitle {
    font-size: 30px;
  }
  footer article .sectionFooter2 h2 {
    font-size: 24px;
  }
  footer article .sectionFooter1 ul li {
    padding: 0 15px;
  }
}
@media screen and (min-width: 701px) {
  .mobileHeader {
    display: none;
  }
}
.displayNone {
  display: none;
}

.rotate {
  transform: rotate(90deg);
}

main {
  margin: 100px 100px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.card {
  display: flex;
  align-items: flex-end;
}
.card .cardMain {
  width: 300px;
  height: 400px;
  background-color: #9747FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card .cardMain img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 280px;
  height: 300px;
  border-radius: 10px;
}
.card .cardMain h2 {
  font-size: 30px;
  font-family: "Fascinate Inline", system-ui;
  color: white;
  margin: 10px 0;
}
.card .cardSecond {
  height: 350px;
  width: 200px;
  background-color: black;
  border-top-right-radius: 70%;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  transition-duration: 1s;
}
.card .cardSecond ul li {
  padding: 10px 20px;
}
.card .cardSecond button {
  border: 0.2rem solid #fff;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  background-color: #3AF4FF;
  margin: 20px;
}
.card .cardMain:hover + .cardSecond {
  transition-duration: 1s;
  opacity: 100;
}
.card .cardSecond:hover {
  transition-duration: 1s;
  opacity: 100;
}

body {
  background-image: url("./../../images/Approxinoscopefont.svg");
}

h1 {
  text-align: center;
  margin-top: 100px;
  font-family: "Fascinate Inline", system-ui;
  font-size: 70px;
}

h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.sectionFaq1 {
  border-bottom: 0.2rem solid white;
  box-shadow: 0 0 0.2rem white, 0 0 0.2rem #9747FF, 0 0 1rem white, 0 0 1rem #9747FF, 0 0 2rem white, 0 0 2rem #9747FF, 0 0 0.8rem #9747FF, 0 0 2.8rem #9747FF, 0 0 4rem #9747FF, 0 0 5rem #9747FF, 0 0 6rem #9747FF, inset 0 0 8rem #9747FF;
  background-color: rgb(95, 7, 167);
  border-radius: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  margin-bottom: 80px;
  margin-top: 80px;
}
.sectionFaq1 h2 {
  text-decoration: underline;
}
.sectionFaq1 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sectionFaq1 ul li {
  margin: 10px 0;
  font-weight: bold;
}

.sectionFaq2 {
  border-bottom: 0.2rem solid white;
  box-shadow: 0 0 0.2rem white, 0 0 0.2rem #9747FF, 0 0 1rem white, 0 0 1rem #9747FF, 0 0 2rem white, 0 0 2rem #9747FF, 0 0 0.8rem #9747FF, 0 0 2.8rem #9747FF, 0 0 4rem #9747FF, 0 0 5rem #9747FF, 0 0 6rem #9747FF, inset 0 0 8rem #9747FF;
  background-color: rgb(95, 7, 167);
  border-radius: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
}
.sectionFaq2 h2 {
  text-decoration: underline;
}
.sectionFaq2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sectionFaq2 ul .liFaq {
  font-weight: bold;
  font-size: 18px;
}
.sectionFaq2 ul li {
  margin: 10px 0;
  text-align: start;
}

.buttonBackUp {
  border-bottom: 0.2rem solid white;
  box-shadow: 0 0 0.2rem white, 0 0 0.2rem #9747FF, 0 0 1rem white, 0 0 1rem #9747FF, 0 0 2rem white, 0 0 2rem #9747FF, 0 0 0.8rem #9747FF, 0 0 2.8rem #9747FF, 0 0 4rem #9747FF, 0 0 5rem #9747FF, 0 0 6rem #9747FF, inset 0 0 8rem #9747FF;
  border: 0.2rem solid #fff;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  background-color: #3AF4FF;
  background-color: rgb(95, 7, 167);
  display: block;
  width: fit-content;
  margin: 100px auto;
}/*# sourceMappingURL=stylefaq.css.map */