@import "./../../style/style.scss";

.pageTitle { 
    @include title(80px, white);
    display: flex;
    justify-content: center;
    margin: 150px 0px -15px 0px;
}

p {
    @include mainText(white);
    display: flex;
    justify-content: center;
    margin-bottom: -15px;
}

button {
    @include button1();
}

.bouton {
    margin-top: 50px;
    margin-bottom: 18vh;
    display: flex;
    justify-content: center;
}

.pageTitle2 { 
    @include title(50px, white);
    display: flex;
    justify-content: center;
    margin: 100px 0px -15px 0px;
}

.formulaire {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    
        ul li {
            display: flex;
            flex-direction: column;
            margin: 15px 0 0 0;
        }

        label {
            font-size: 20px;
            margin-bottom: 5px;
        }

        input {
            padding-left: 15px;
            border-radius: 10px;
            height: 30px;
        }

        select {
            padding-left: 15px;
            border-radius: 10px;
            height: 30px;
        }

        #text {
            padding-left: 15px;
            padding-top: 5px;
            border-radius: 10px;
        }

        .checkBox {
            font-style: italic;
            text-decoration: underline;
        }

        .checkB {
            display: flex;
            flex-direction: row-reverse;

            input {
                width: 25px;
                height: 25px;
            }
        }

        button {
            margin: 0 auto;
        }
}

.popUp {
    
    height: 50vh;
    width: 50vw;
    background-color: $colorPurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h2 {
        @include title(80px, white);
    }

    p{
        @include mainText(white);
    }

    button {
        @include button1();
    }
}